/*
 * Assignment 02
 * CSS FILE
 */


/* 
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fb8500;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
}
*/

header {
  background-color: rgb(83, 79, 79);
  
  display: flex;
  flex-direction: column;
  
}

.title {
  display: flex;
  justify-content: flex-start;
}

.title h2 {
  align-self: center;
  font-size: xx-large;
  margin-left: 40px;
}

.links {
  display: flex;
  justify-content:space-evenly;
}

nav {
  display: flex;
}


.links a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 30px;
  margin: 5px;
  height: 100px;
  width: 200px;
  background-color: rgba(127, 126, 129, 0.822);
 
}



.links a:hover {
  background-color: rgb(173, 175, 176);
}


main {
  display: flex;
  flex-direction: column;
  background-color: red;
  
  justify-content: center;
  align-items: center;


}

.bigBox {
  display: flex;
  flex-direction: row;
}

main img {
  height: 50%;
}
.box {
  background-color: rgba(183, 16, 16, 0.392);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content:space-between;
}





.part {
  display: flex;
  
  justify-content: center;
}

.box a {
  text-decoration: none;
  background-color: black;
  color: red;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
  padding: 0px 150px 0px 150px;
}

.box p {
  margin: 20px;
  padding: 10px;
}

.box h2 {
  margin-left: 20px;
}

.lower {
  display: flex;
  flex-direction: column;
}

.lower h2 {
  text-align: center;
}

.box:hover {
  background-color: black;
  color: red;
}

.box:hover a {
  background-color: red;
  color: black;
}

footer {
  background-color: rgb(83, 79, 79);
  
}

.endLinks {
  display: flx;
  justify-content: center;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.endLinks li{
  display: flex;
  margin: 20px;
}

.endLinks a {
  display: flex;
  text-decoration: none;
  color: red;
  flex-direction: row;
  margin-left: 40px;
}

.logo{
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: end;
}

.endLinks h2 {
  margin-left: 80px;
}

.address {
  background-color: yellowgreen;
}