/*
 * Assignment 02
 * CSS FILE
 */


/* 
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fb8500;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #023047;
}
*/

header {
  background-color: rgb(83, 79, 79);
  
  display: flex;
  flex-direction: column;
  
}

.title {
  display: flex;
  justify-content: flex-start;
}

.title h2 {
  align-self: center;
  font-size: xx-large;
  margin-left: 40px;
}

.links {
  display: flex;
  justify-content:space-evenly;
}

nav {
  display: flex;
}


.links a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 30px;
  margin: 5px;
  height: 100px;
  width: 200px;
  background-color: blueviolet;
 
}



.links a:hover {
  background-color: aliceblue;
}


main {
  display: flex;
  flex-direction: column;
  background-color: red;
  
  justify-content: center;
  align-items: center;


}

.bigBox {
  display: flex;
  flex-direction: row;
}

main img {
  height: 50%;
}
.box {
  display: flex;
  flex-direction: column;
  width: 80%;

  margin: 10px;
  padding: 10px;
  border-radius: 10px
}

.box a {
  text-decoration: none;
  background-color: black;
  color: red;
  border-radius: 10px;
  text-align: center;
}

.lower {
  display: flex;
  flex-direction: column;
}

.lower h2 {
  text-align: center;
}

.box:hover {
  background-color: black;
  color: red;
}

.box:hover a {
  background-color: red;
  color: black;
}

footer {
  background-color: rgb(83, 79, 79);

}

